.top{
    background-color: #4018b2;
}
.nav{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
}
a{
    margin-top: -70px;
    margin-right: 21px;
}
.nav:hover{
    color: rgb(204, 172, 244);
    font-size: 18px;
}
.logo{
    margin-left: 10px;
    margin-top: 0px;
    height: 60px;
}
.navbar{
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.back{
    font-weight: bold;
    font-size: 20px;
    margin-left: -300px;
    width: fit-content;
     background-color: hsl(256, 100%, 95%);
    padding: 15px;
    border-radius: 30px;
    color: rgb(88, 0, 165);
    text-decoration: none;
    
}
.back:hover{
    background-color: hsl(255, 59%, 86%);
    color: rgb(131, 41, 210);
}
    .heading{
        color: rgb(2, 13, 67);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-left: 560px;
    }
.man1{
    margin-top: 100px;
    margin-left: 350px;
}
.name1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 355px; 
    margin-top: 15px; 
    font-weight: 900; 
}
.sub1{
    font-size: small;
    font-weight: 400;
    color: gray;
    margin-top: 9px;
    margin-left: -15px; 
}
.man2{
    margin-left: 300px;
}
.name2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 710px; 
    margin-top: -65px; 
    font-weight: 900; 
}
.sub2{
    font-size: small;
    font-weight: 400;
    color: gray;
    margin-top: 8px;
    margin-left: 20px; 
}
.name3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1140px; 
    margin-top: -65px; 
    font-weight: 900; 
}
.sub3{
    font-size: small;
    font-weight: 400;
    color: gray;
    margin-top: 7px;
    margin-left: 1px; 
}
.star1{
    margin-left: 340px;
    margin-top: 7px;
}
.star2{
    margin-left: 740px;
    margin-top: -30px;
}
.star3{
    margin-left: 1150px;
    margin-top: -30px;
}
.para1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(157, 157, 157);
    font-size: 15px;
    width: 350px;
    margin-left: 250px;
    margin-top: 30px;
}
.para2{
    color: rgb(157, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 350px;
    margin-left: 650px;
    margin-top: -56px;
}
.para3{
    color: rgb(157, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 350px;
    margin-left: 1050px;
    margin-top: -72px;
}
.line{
    /* width: 220%; */
}
.foothead{
    /* width: 150%; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-size: 50px;
    padding-left: 400px;
}
.mail{
    /* margin-top: 10px; */
    margin-left: 380px;
    margin-bottom: -29px;
    /* width: 30px; */
}
.call{
        margin-left: 790px;
        /* margin-top: 0px; */
}
.id{
    font-size: large;
    margin-left: 413px;
    margin-bottom: -20px;
    
}
.mobno{
    font-size: large;
    margin-left: 830px;
    margin-top: -30px;
}
.foot{
    background-color: #4018b2;
    height: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}